/* font-family: 'Rajdhani', sans-serif;
font-family: 'Rubik', sans-serif;
para los fonts */
/*Navbar*/
.navi{
    background-color:rgb(17, 25, 56);
    color: #ffffff;
    font-family: 'rubik', sans-serif;
    font-weight: 300;
}
a:active{
    color: black;
}